services:
  web:
    build: .
    container_name: django_web
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8010
    volumes:
      - .:/app
    ports:
      - "8010:8010"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:17
    container_name: django_db
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret2026
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis

  celery:
    build: .
    container_name: django_celery
    command: celery -A core worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: django_celery_beat
    command: celery -A core beat -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env

volumes:
  pgdata: